
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #E5D4ED;
    
}

.hero-container {
    
    text-align: center;
    padding: 30px;
}
.avatar-img {
    width: 250px;
    height: 240px;
    border-radius: 100%;
    box-shadow: 
 
        0 0 0 5px #6D72C3, 
        0 0 0 15px #E5D4ED; 
    
    
    background: linear-gradient(45deg, #A882DD, #E08D79); 
    padding: 5px; 
    background-origin: border-box; 
    background-clip: content-box, border-box; 

}
.hero-container h1 {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    color: #1D1128;
    font-size: 5rem;

}
.hero-container h2 {
    color: #1D1128;
}
.hero-container h2, .content-container h3, .content-container p,.projects-container h3  {
    font-family: "Text Me One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.content-container {
    text-align: center;
    background-color: #FCFAFD;
    color: #1C1E26;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 5px;
    padding: 2.5rem;
    box-shadow: 0 5px 15px rgba(29, 17, 40, 0.2);
    filter: blur(0.3px);
}
.content-container:hover {
    transform: rotateZ(0.5deg); 
}

.content-container h3, .projects-container h3 {
   font-weight: 900;
}
.content-container h3, .content-container p {
    margin-bottom: 1.5rem;
}
.projects-container {
    text-align: center;
    background-color: #FCFAFD;
    color: #1C1E26;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 5px;
    padding: 2.5rem;
    box-shadow: 0 5px 15px rgba(29, 17, 40, 0.2);
}


